@tailwind base;
@tailwind components;
@tailwind utilities;

// All
* {
  color: white;
}
body {
  background-color: #2e3135;
}
h1 {
  display: flex;
  justify-content: center;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  margin-left: 2%;
  margin-right: 2%;
}
.copyright_content {
  display: flex;
  justify-content: center;
}
footer {
  height: 240px;
  background-color: #212121;
}
footer > div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

// Index vue
// Grid
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  border: 4px solid #1b1d1f;
  margin: 8px;
  font-size: 30px;
  text-align: center;
}
.image-project-presentation {
  max-height: 150px;
  justify-items: center;
}
.logo-social-network {
  height: 40px;
  width: auto;
}
.about-picture {
  margin-right: 2%;
  background-color: #212121;
  border-radius: 16px;
  border: #ababab solid 2px;
}
.about-picture > img {
  border-radius: 16px;
}

.about-text {
  margin-left: 2%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.presentation {
  margin-top: 8%;
  display: flex;
  justify-content: center;
}
.project-image-main {
  background-color: red;
  max-width: 400px;
}
.technos {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  margin-bottom: 4%;
}

// Single vue
.project-image {
  display: flex;
  justify-content: center;
}
.project-image > img {
  display: flex;
  justify-content: center;
  max-height: 400px;
}
.project-image > img {
  display: flex;
  justify-content: center;
}
.technos-logo {
  height: 75px;
  width: auto;
}
.github-logo {
  height: 75px;
  width: auto;
}
.back-button {
  padding: 1%;
  background-color: #212121;
  border-radius: 20px;
  border: #ababab solid 2px;
}
.back-button:hover {
  border: #212121 solid 2px;
}
.div-title {
  display: flex;
  justify-content: center;
}
.project-infos {
  margin-left: 4%;
  margin-right: 4%;
}

.project-infos div {
  margin-top: 4%;
}
.project-infos div h3 {
  margin-bottom: 1%;
}